body{
    width: 100%;
    padding: 0;
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: solid 1px #c2c2c2;
    box-shadow: 0px 1px 7px 1px #bcbbbb;
    max-width: 100%;
}

nav img{
    width: 100px;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 45px;
    padding: 0px;
    max-width: 100%;
    list-style-type: none; /* Ne pas le placer dans ( nav ul li ) */
}

nav ul li a{
    text-decoration: none;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 25px;
    color: #ff9a16;
    transition: 0.6s;
    border-left: solid 3px transparent;
}

nav ul li a:hover{
    border-left: solid 3px #fcaf4adb;
    transition: 0.12s;
    padding-left: 5px;
}

nav img:hover{
    transform: scale(1.1); /* zoom */
}

@media screen and ( min-width: 2000px) and ( max-width: 2560px ){
    nav{
        gap: 600px;
    }
    nav img{
        width: 150px;
    }
    nav ul{
        gap: 100px;
    }
    nav ul li a{
        font-size: 30px;
    }
}

@media screen and ( min-width: 768px ) and ( max-width: 1024px ){
    nav img{
        width: 90px;
    }
    nav ul li a{
        font-size: 18px;
    }
}

@media screen and ( min-width: 600px ) and ( max-width: 768px ){
    nav img{
        width: 80px;
    }
    nav ul{
        gap: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media screen and ( min-width: 605px ) and ( max-width: 690px ){
    nav{
        flex-direction: column;
    }
    nav img{
        width: 65px;
    }
    nav ul{
        gap: 75px;
        margin-top: 0px;
    }
    nav ul li a{
        font-size: 13px;
    }
}

@media screen and ( min-width: 425px ) and ( max-width: 605px ){
    nav{
        flex-direction: column;
    }
    nav img{
        width: 50px;
    }
    nav ul{
        gap: 60px;
        margin-top: 0px;
    }
    nav ul li a{
        font-size: 10px;
    }
}

@media screen and ( min-width: 320px ) and ( max-width: 420px ){
    nav{
        flex-direction: column;
    }
    nav img{
        width: 50px;
    }
    nav ul{
        margin-top: 0px;
    }
    nav ul li a{
        font-size: 8px;
    }
}

@media screen and ( min-width: 280px ) and ( max-width: 320px ){
    nav{
        flex-direction: column;
        height: 78px;
    }
    nav img{
        width: 40px;
    }
    nav ul{
        margin-top: 0px;
        gap: 20px;
    }
    nav ul li a{
        font-size: 8px;
    }
}